.create{
    display: flex;
    justify-content: space-around;
    background-image: url("../image/ban4.jpg");
    height: 90vh;
    
}
.inner{
    width: 35em;
    height: 20em;
    margin-top: 3em;
     background-color: rgba(0, 0, 0, 0.8);
    padding: 1em;
    color: white;
}